/* regular cells */
.crossword-cell {
    width: 40px; 
    height: 40px; 
    border: 1px solid #333; 
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    box-sizing: border-box; 
  }
  
/* black space cells */
.black-space {
    background-color: hsl(180, 40%, 33%);
    pointer-events: none;
  }